version: "3.8"

services:
  test_runner:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: test_runner
    env_file:
      - .env
    environment:
      PYTHONUNBUFFERED: "1"
      STOP_EC2_ON_SUCCESS: "1"   # set "0" if you don't want auto-stop
    volumes:
      - .:/app
    working_dir: /app
    command: ["bash", "/app/entrypoint.sh"]
    networks:
      - test_network

networks:
  test_network:
    driver: bridge
