version: "3.8"

services:
  test_runner:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: test_runner
    env_file:
      - .env
    environment:
      PYTHONUNBUFFERED: "1"
      AWS_EC2_METADATA_DISABLED: "false"
    volumes:
      - .:/app
    working_dir: /app
    network_mode: "host"
    command: ["bash", "/app/entrypoint.sh"]
